*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
}

.split {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.split > * {
    flex-basis: 30%;
    min-width: 15em;
}

.btn {
    display: inline-block;
    border-radius: .25em;    
    padding: .5em 1.25em;
    
    background: var(--clr-accent, rgb(255, 231, 164));
    color: var(--clr-btntxt, rgb(95, 95, 95));
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125em;   
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;

}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .8;
}

.primary-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: rgb(180, 146, 83);
    margin-bottom: 3rem;
}

.hero {
    text-align: center;
    color: rgb(210, 244, 255);
    padding: 15em 0;
    background: rgb(177, 153, 89);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@supports (background-blend-mode: multiply) {
    .hero {
        background-image: 
        url(./assets/hero.jpg),
        radial-gradient(rgb(104, 104, 104), rgb(128, 128, 128));
        background-blend-mode: multiply;
    }    
}

.featured {
    background: rgb(210, 244, 255);
}

.featured__item {
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.1;
}

.featured__item:hover,
.featured__item:focus {
    transform: scale(1);
}

.featured__item:hover .featured__details,
.featured__item:focus .featured__details {
    opacity: 1;
}

.featured__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 105%;    
    top: 0;
    left: 0;
    background: rgb(180, 146, 83);
    z-index: -1;
    transition: transform 300ms ease-in;
    
}

.featured__details {
    opacity: 0;
    transition: opacity 300ms linear;
}

.featured__details span {
    display: block;
    font-weight: 700;
    font-size: 2rem;
}

.product {
    background: radial-gradient(
       var(--clr-inner, rgb(180, 146, 83)), var(--clr-outer, rgb(255, 255, 255))
    );
    padding: 3em;
    border-radius: 3em;
    margin-bottom: 3em;
    text-align: center;
}

.product__title {
    font-size: 4rem;
    color: #fff;
    line-height: 1.1;
    text-shadow: 0 0 .2em rgba(#000000, .2);
}

.cust__image {
    display: block;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.product__image {
    width: 50%
}

.cust-blue {
    --clr-inner: rgb(74, 120, 136);
    --clr-outer: rgb(180, 146, 83);
    --clr-accent: rgb(180, 146, 83);
    --clr-btntxt: #fff;
}

.cust-brown {
    --clr-inner: rgb(105, 84, 45);
    --clr-outer: rgb(74, 120, 136);
    /* --clr-accent:
    --clr-btntxt: */
}

.cust-white {
    --clr-inner: rgb(74, 120, 136);
    --clr-outer: rgb(180, 146, 83);
    --clr-accent: rgb(180, 146, 83);
    --clr-btntxt: #fff;
}
